.promo {
    // .promo__social
    background: url(../img/main_bg.jpg) no-repeat 75% center / cover;
    position: relative;
    min-height: 100vh;
    color: $main-light;
    display: grid;
    align-items: center;
    @include md {
        grid-template-columns: auto 1fr;
        gap: 10%;
        .rotate {
            transform: rotate(180deg) !important;
        }
        &__divider {
            display: inline-block;
            width: rem(1);
            height: rem(70);
            background-color: $main-light;
            align-self: center;
        }
    }
    &__social {
        display: none;
        @include md {
            display: flex;
            writing-mode: vertical-lr;
            align-items: center;
            gap: rem(16);
            margin-left: 50px;
            font-weight: 700;
            a {
                transform: rotate(-90deg);
                svg:nth-child(3) {
                    transform: rotate(90deg);
                }
            }
        }
    }
    &__container {
    }
    // .promo__divider
    &__content {
        text-align: center;
        @include md {
            text-align: left;
        }
    }
    &__section-title {
        max-width: fit-content;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: rem(16);
        font-weight: 700;
        &::before {
            left: 3px;
        }
        @include md {
            margin-left: 15px;
        }
    }
    &__section-name {
        // position: relative;
        z-index: 1;
        // @include circle;
    }

    // .promo__title

    &__title {
        font-weight: 700;
        margin-top: rem(30);
        font-size: rem(24);
        line-height: 100%;
        @include md {
            font-size: rem(48);
        }
    }

    // .promo__subtitle

    &__subtitle {
        font-weight: 700;
        font-size: rem(24);
        line-height: 100%;
        margin-top: rem(10);
    }

    // .promo__btns

    &__btns {
        display: flex;
        gap: 1em;
        width: 100%;
        justify-content: center;
        margin-top: rem(65);
        @include md {
            justify-content: flex-start;
            margin-top: rem(100);
        }
    }
}
