.about {
    background-color: $main-dark;
    &__wrapper {
        gap: 30px;
        padding: 50px 10px;
        display: grid;
        color: $main-light;
        font-weight: 700;
    }

    // .about__photo

    &__photo {
        display: none;
    }

    // .about__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__section-title {
        @include circle-middle;
        position: relative;
        z-index: 1;
    }

    // .about__title

    &__title {
        font-size: rem(16);
        text-align: center;
        margin: 15px 0;
        p {
            margin-bottom: 0;
        }
    }

    // .about__text

    &__text {
        margin-top: rem(50);
        font-size: rem(12);
    }

    // .about__cards

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: rem(45);
        gap: 50px;
    }

    // .about__card

    &__card {
        flex: 1 1 270px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        text-align: center;
        font-size: rem(12);
        line-height: 150%;
        p {
            margin-bottom: 0;
        }
    }

    // .about__card-header

    &__card-header {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        padding-left: rem(52);
        @include circle;
    }

    // .about__card-icon

    &__card-icon {
        position: absolute;
        left: 0;
        bottom: -15px;
        path {
            fill: $main-light;
        }
    }

    // .about__card-name

    &__card-name {
        transform: translateY(25%);
    }

    // .about__card-main

    &__card-main {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 12px;
    }

    // .about__card-subtitle

    &__card-subtitle {
    }

    // .about__card-paragraph

    &__card-paragraph {
    }
}
