.button {
    border: none;
    color: $main-light;
    background-color: transparent;
    padding: 12px 26px;
    font-weight: 700;
    transition: 0.2s;
    &--active {
        background-color: $secondary-red;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        &:hover,
        &:active,
        &:focus {
            background-color: $secondary-orange;
        }
    }
}
.remover {
    border-radius: 100%;
    flex: 0 0 48px;
    align-self: stretch;
    text-align: center;
    line-height: 200%;
    border: 1px solid $secondary-red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 22px;
    @include md {
        font-size: 16px;
    }
    &:hover {
        background-color: $secondary-orange;
        border-color: white;
    }
}
