@media (min-width: 764px) {
    .menu {
        // .menu__close-btn
        &__content {
            padding: 25px 25px 50px 40px;
            gap: 80px;
            z-index: 100;
            transform: translateX(-100%);
            transition: all 0.2s;
        }
        &__close-btn {
        }

        // .menu__list

        &__list {
        }

        // .menu__item

        &__item {
        }

        // .menu__link

        &__link {
            font-size: rem(24);
        }
        .social {
            path {
            }
        }
        &--active {
            .overlay {
            }
            .menu {
                &__content {
                    transform: translateX(0);
                }
            }
        }
    }
    .overlay {
        transition: opacity 0.3s;
        position: absolute;
        z-index: -10;
    }
}
