@media (min-width: 768px) {
    .promo {
        // .promo__social
        padding-top: 260px;
        &__social {
            position: absolute;
            display: flex;
            writing-mode: sideways-lr;
            align-items: center;
            gap: rem(16);
            margin: 0 10px 0 50px;
            font-weight: 700;
        }
        // .promo__divider

        &__divider {
            display: inline-block;
            width: rem(1);
            height: rem(70);
            background-color: $main-light;
            align-self: center;
        }
        &__content {
            margin-left: 100px;
            text-align: left;
        }
        &__section-title {
            margin-left: 15px;
        }
        // .promo__title

        &__title {
            font-size: rem(48);
        }

        // .promo__subtitle

        &__subtitle {
        }

        // .promo__btns

        &__btns {
            justify-content: flex-start;
            margin-top: rem(100);
        }
    }
}
