.social {
    display: flex;
    align-items: center;
    gap: rem(20);
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 30px;
            height: 30px;
            path {
                width: 30px;
                height: 30px;
            }
        }
    }
    path {
        fill: $main-light;
    }
    &:hover {
        path {
            fill: $secondary-orange;
        }
    }
}
